<section style="background-color: #eee;">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark mt-4 ms-4 me-4">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">EPS ISIS SAUD</h1>
      <p class="lead my-3"><strong>Proyecto:</strong> Citas médicas</p>
      <p class="lead my-3"><strong>Desarrollado por:</strong></p>

    </div>
  </div>
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Opciones</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('/assets/unsplash-photo-1.jpg');cursor:pointer;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 " routerLink="/pacientes/registrar">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Registrar Usuarios</h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('/assets/unsplash-photo-2.jpg');cursor:pointer;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 " routerLink="/citas/agendar">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Agendar Citas</h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('/assets/unsplash-photo-3.jpg'); cursor:pointer;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1" routerLink="/medicos/registrar">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Registrar Medicos</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>